@import "../../_globalColor";

.project-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: $lightBackground2 !important;
}

.project-container-dark {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: $darkBackground !important;
}

.image {
    width: 250px;
}

.info-section {
    display: flex;
    flex-direction: column;
    padding: 1.4em;
}

.name {
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: .8rem;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    color: #55595f;
    padding-bottom: 8px;
}

.description-dark {
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    color: $textColorDark2;
    padding-bottom: 8px;
}

.button {
    font: 12px / 16px Montserrat, "Montserrat", sans-serif;
    padding: 10px;
    align-self: flex-start;
    margin-top: auto !important;
}

@media (max-width: 981px) {

    .project-container,
    .project-container-dark>img {
        display: none;
    }
}